@model kinnemed05.Models.personal

@{
    ViewBag.Title = "Details";
}

<div class="col-lg-12" style="clear:both">
    <div class="form-group">
        @Html.TextAreaFor(model => model.per_observacion, new { @class = "form-control", @rows = "3", @readonly="readonly" })
    </div>
</div>


